@import './varibale';

.btn__bg {
    transition: all 0.5s !important;
    background-color: $mainBg2 !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: $shadow ;
    color: $lightColor !important;
    text-transform: capitalize;
    font-size: 16px;
    padding: 0.75rem 1.5rem !important;
    font-weight:500 !important;
    &:hover {
        color: $lightColor ;
        box-shadow: none;
        background-color: rgba($color: $mainBg2, $alpha: 0.9) !important;
    }
}

// body {
//     width: 100vw;
//     height: 100vh;
//     background: linear-gradient(180deg, #ff008c 0%, rgb(211, 9, 225) 100%);
//     // overflow: hidden;
//     padding: 0;
//     margin: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .example-container div {
//     background: white;
//     border-radius: 30px;
//     width: 150px;
//     height: 150px;
//   }
  
//   .refresh {
//     padding: 10px;
//     position: absolute;
//     background: rgba(0, 0, 0, 0.4);
//     border-radius: 10px;
//     width: 20px;
//     height: 20px;
//     top: 10px;
//     right: 10px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     cursor: pointer;
//   } 

.progress__Nav {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 5px !important;
    background: $mainBg2  !important; 
    z-index: 9999999999999999999999999;
  }